<header>
  <nav class="navbar">
    <a class="navbar-brand" routerLink="/feed">
      <span class="logo-text">ConectaPet</span>
    </a>
    <div class="nav-links">
      <a routerLink="/feed" class="nav-link">Adotar</a>
      <a routerLink="/favorites" class="nav-link">Favoritos</a>
      <a routerLink="/cadastro-pet" class="nav-link">Cadastrar Pet</a>
      <a routerLink="/profile" class="nav-link">Perfil</a>
      <a routerLink="/login" class="nav-link logout">Sair</a>
    </div>
  </nav>
</header>
