.secondary-btn {
  cursor: pointer;
  background: linear-gradient(to right, #10b981, #059669);
  color: white;
  font-size: .9em;
  font-weight: 600;
  padding: 1em;
  border-radius: 0.75rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.3s ease;


  &:hover {
    transform: scale(1.02);
    background: linear-gradient(to right, #059669, #047857);
  }
}
